---
layout: default
sections:
- id: about
  title: About the project
- id: prototype
  title: Prototype
- id: relevant
  title: Relevent links
- id: questions
  title: Questions?

header_icons:
  - cloud-pc

prototype:
- href: /https://gsa.invisionapp.com/share/4RCD8OISB#/241551676_home-Logged-In
  text:
    primary: Try the prototype
    secondary: Then give us your feedback there.
  image:
    href: /img/prototype-thumb.png
    alt: Prototype thumbnail image
- href: https://gsa.invisionapp.com/share/4RCD8OISB#/241551676_home-Logged-In

scripts:
- main.js
---

<header>

  <div class="flag-container">
    <a href="https://18f.gsa.gov">
      <img class="usa-flag" src="img/us_flag_large.png">
    </a>
    <p>An official website of the U.S. government</p>
  </div>

  <div class="container">
    <h1>
      <div>
        {% for icon in page.header_icons %}
        <img class="icon {{ icon }}" src="{{ site.baseurl }}/img/icons/{{ icon }}.svg">
        {% endfor %}
      </div>
      The cloud marketplace is a TTS Office of Acquisition project exploring the opportunity to turn Apps.gov from a SaaS discovery tool into a <b>SaaS procurement tool</b>.
    </h1>
  </div>

  <nav>
    <ul class="container">
    {% for section in page.sections %}
      <li><a href="#{{ section.id }}">{{ section.title }}</a></li>
    {% endfor %}
    </ul>
  </nav>
</header>

<main>
  {% for section in page.sections %}
  <section id="{{ section.id }}">
    <div class="container">
      <h1>{{ section.title }}</h1>
      {% capture content %}{% include {{ section.id }}.md %}{% endcapture %}
      {{ content | markdownify }}
    </div>
  </section>
  {% endfor %}
</main>

<footer>
  <div class="container">
    {% capture footer %}{% include footer.md %}{% endcapture %}
    {{ footer | markdownify }}
  </div>
</footer>
